.logo-vivareal
  width: 48px
  height: 38px
  background-color: #ffffff
  display: block
  text-indent: -9999px
  background: url(../images/logo-vivareal.svg)
  background-size: 48px 38px
  background-repeat: no-repeat

.plus-icon
  display: block
  width: 27px
  height: 26px
  background: url(../images/plus-icon.svg)
  background-repeat: no-repeat

.area-icon
  display: block
  width: 24px
  height: 24px
  background: url(../images/ic-card-area.svg)
  background-repeat: no-repeat

.bath-icon
  display: block
  width: 24px
  height: 24px
  background: url(../images/ic-card-bathroom.svg)
  background-repeat: no-repeat

.bed-icon
  display: block
  width: 24px
  height: 24px
  background: url(../images/ic-card-beds.svg)
  background-repeat: no-repeat

.building-icon
  display: block
  width: 28.8px
  height: 30.6px
  background: url(../images/building.svg)
  background-repeat: no-repeat