.page-body
  +below(1055px)
    flex-direction: column

.header
  .page-title
    +below(745px)
      font-size: 14px

.sidebar
  +below(1055px)
    width: 100%
    min-width: 264px
    flex-direction: row
    justify-content: space-around
    height: auto
    padding-top: 10px
    padding-bottom: 10px
  
  .building-icon
    +below(1055px)
      margin-top: 0
      margin-bottom: 0
      margin-right: 10px
      margin-left: 0
      flex-shrink: 0

  .plus-icon
    +below(1055px)
      margin-top: 0
      margin-bottom: 0
      margin-right: 10px
      margin-left: 0
      flex-shrink: 0
  
  .item
    +below(1055px)
      height: 50px
      margin-bottom: 0
      display: flex
      flex-direction: row
      align-items: center
      padding: 10px
      flex-shrink: 0

.main-container
  +below(1055px)
    flex-direction: column
  
.filter-box
  +below(1055px)
    height: 294px
    width: initial
    flex-shrink: 0
    margin-left: 10px
    margin-right: 10px
    
  .fields-line
    +below(1055px)
      justify-content: flex-start
      flex-shrink: 0
      flex-wrap: nowrap
      
  .field-box
    +below(1055px)
      margin-right: 13px
  
.content-box
  +below(745px)
    padding-right: 10px
    padding-left: 10px
    max-width: initial
    min-width: initial
    background-color: #f0f0f0
  
.ad-box
  +below(745px)
    height: auto
    flex-direction: column
  
.photo-container
  +below(745px)
    width: 100%
    height: 254.81px
  
.ad-info
  +below(745px)
    max-width: 100%
    min-width: 270px
    padding-bottom: 12px
    flex-shrink: 0
  
.ad-content
  +below(745px)
    padding-right: 16.3px
    height: auto
  
.ad-footer
  +below(745px)
    height: auto
    flex-direction: column
    flex-shrink: 0
    padding-left: 16.3px
    padding-right: 16.3px
    padding-top: 12px
  
  .view-button
    +below(745px)
      width: 100%
  
  .ad-details-list
    +below(745px)
      margin-left: 0
      margin-bottom: 10px