global-reset()

div, section, h1, h2, h3, 
input, fieldset, form, label, 
span, p, footer, ul, ol, li, html, body
  box-sizing: border-box

html
  width: 100%

html, body
  min-height: 100%

body
  background-color: #e0e0e0
  width: 100%
  font-family: 'Roboto Condensed', sans-serif