<form action="get" class="content-box filter-box">
  <input type="number" ng-model="filter.id" ng-blur="getAdsById()">
  <input type="number" ng-model="filter.area" ng-blur="getAds()">
  <input type="number" ng-model="filter.beds" ng-blur="getAds()">
  <input type="number" ng-model="filter.baths" ng-blur="getAds()">
  <input type="number" ng-model="filter.min" ng-blur="getAds()">
  <input type="number" ng-model="filter.max" ng-blur="getAds()">
</form>

<ul class="vertical-list ads-list content-box">
  <li ng-repeat="ad in ads" class="ad-box">
    <section class="photo-container">
      <img ng-src="" alt="{{ ad.title }}" error-src="http://placehold.it/284x405/252525?text={{ ad.show_title }}">
      <span class="ad-price">{{ ad.price }}</span>
    </section>
    <section class="ad-info">
      <p class="id-box">ID.{{ ad.id }}</p>
      <h3>{{ ad.title }}</h3>
      <p class="ad-description">
        {{ ad.description }}
      </p>
      <footer>
        <ul class="ad-details-list horizontal-list">
          <li class="ad-detail size-ico">
            <span>{{ ad.squareMeters }}</span>
          </li>
          <li class="ad-detail bed-ico">
            <span>{{ ad.beds }}</span>
          </li>
          <li class="ad-detail bath-ico">
            <span>{{ ad.baths }}</span>
          </li>
        </ul>
        <div class="button view-button highlight-color">Visualizar o anúncio</div>
      </footer>
    </section>
  </li>
</ul>