<form action="get" class="filter-box">
  <fieldset class="filter-fields-line">
    <div class="field-box">
      <label class="field-label" for="id">Id</label>
      <input type="number" id="idInput" class="default-field" ng-model="adsPage.filter.id" ng-blur="adsPage.getAdsById()">
    </div>
    <div class="field-box">
      <label class="field-label" for="areaInput">Área</label>
      <input type="number" id="areaInput" class="default-field" ng-model="adsPage.filter.area">
    </div>
  </fieldset>
  <fieldset class="filter-fields-line">
    <div class="field-box">
      <label class="field-label" for="bedsInput">Quartos</label>
      <input type="number" id="bedsInput" class="default-field" ng-model="adsPage.filter.beds">
    </div>
    <div class="field-box">
      <label class="field-label" for="bathsInput">Banheiros</label>
      <input type="number" id="bathsInput" class="default-field" ng-model="adsPage.filter.baths">
    </div>
  </fieldset>
  <fieldset class="filter-fields-line">
    <label class="field-label">Valor</label>
    <input type="number" id="minValueInput" class="default-field inline-field" ng-model="adsPage.filter.min">
    <span class="field-conector-box">
      <span class="field-conector"></span>
    </span>
    <input type="number" id="maxValueInput" class="default-field inline-field" ng-model="adsPage.filter.max">
  </fieldset>
</form>

<ul class="vertical-list ads-list content-box">
  <li class="spinner" ng-show="adsPage.loading"></li>
  <li ng-repeat="ad in adsPage.advs | filter: adsPage.adFilter" class="ad-box">
    <section class="photo-container">
      <img ng-src="https://placeholdit.imgix.net/~text?txtsize=33&txt=297.7%C3%97224&w=297.7&h=224" alt="{{ ad.title }}" class="ad-photo">
      <span class="ad-price" ng-bind="ad.price"></span>
    </section>
    <section class="ad-info">
      <section class="ad-content">
        <p class="id-box shadowless-box">
          <span ng-bind="'ID.' + (ad.id)" class="text"></span>
        </p>
        <h3 ng-bind="ad.title" class="ad-title"></h3>
        <p class="ad-description" ng-bind="ad.description">
        </p>
      </section>
      <footer class="ad-footer">
        <ul class="ad-details-list horizontal-list">
          <li class="ad-detail size-ico item">
            <span ng-bind="ad.squareMeters"></span>
          </li>
          <li class="ad-detail bed-ico item">
            <span ng-bind="ad.beds"></span>
          </li>
          <li class="ad-detail bath-ico item">
            <span ng-bind="ad.baths"></span>
          </li>
        </ul>
        <div class="button view-button highlight-color">Visualizar o anúncio</div>
      </footer>
    </section>
  </li>
</ul>