<form action="get" class="content-box filter-box">
  <input type="number" ng-model="adsPage.filter.id" ng-blur="adsPage.getAdsById()">
  <input type="number" ng-model="adsPage.filter.area" ng-blur="adsPage.getAds()">
  <input type="number" ng-model="adsPage.filter.beds" ng-blur="adsPage.getAds()">
  <input type="number" ng-model="adsPage.filter.baths" ng-blur="adsPage.getAds()">
  <input type="number" ng-model="adsPage.filter.min" ng-blur="adsPage.getAds()">
  <input type="number" ng-model="adsPage.filter.max" ng-blur="adsPage.getAds()">
</form>

<ul class="vertical-list ads-list content-box">
  <li ng-repeat="ad in adsPage.advs | filter: adsPage.adFilter" class="ad-box">
    <section class="photo-container">
      <img ng-src="" alt="{{ ad.title }}">
      <span class="ad-price" ng-bind="ad.price"></span>
    </section>
    <section class="ad-info">
      <p class="id-box" ng-bind="'ID.' + (ad.id)"></p>
      <h3 ng-bind="ad.title"></h3>
      <p class="ad-description" ng-bind="ad.description">
      </p>
      <footer>
        <ul class="ad-details-list horizontal-list">
          <li class="ad-detail size-ico">
            <span ng-bind="ad.squareMeters"></span>
          </li>
          <li class="ad-detail bed-ico">
            <span ng-bind="ad.beds"></span>
          </li>
          <li class="ad-detail bath-ico">
            <span ng-bind="ad.baths"></span>
          </li>
        </ul>
        <div class="button view-button highlight-color">Visualizar o anúncio</div>
      </footer>
    </section>
  </li>
</ul>